<div class="p-6 max-w-7xl mx-auto">
  <h1 class="text-4xl font-bold mb-8">Shopping Cart</h1>

  <div class="grid lg:grid-cols-3 gap-8">
    

    <div class="lg:col-span-2">
      @for (item of cartItems(); track item.id) {
        <div class="bg-white p-5 rounded-2xl shadow-lg mb-5">
          <div class="flex flex-col md:flex-row gap-5 justify-between">
            <div class="flex gap-5">
              <img [src]="item.image" class="w-32 h-32 object-contain" />

              <div>
                <h2 class="font-bold text-xl">
                  {{ item.title }}
                </h2>

                <p class="mt-2 text-gray-500">₹ {{ item.price }}</p>
              </div>
            </div>

            

            <div class="flex items-center gap-4">
              <button (click)="decrease(item.id)" class="bg-gray-200 w-10 h-10 rounded-full">
                -
              </button>

              <span class="font-bold text-lg">
                {{ item.quantity }}
              </span>

              <button (click)="increase(item.id)" class="bg-gray-200 w-10 h-10 rounded-full">
                +
              </button>
            </div>

            

            <button
              (click)="remove(item.id)"
              class="bg-red-500 text-white px-5 py-2 rounded-xl h-fit"
            >
              Remove
            </button>
          </div>
        </div>
      }
    </div>

    

    <div class="bg-white p-6 rounded-2xl shadow-lg h-fit">
      <h2 class="text-2xl font-bold mb-6">Order Summary</h2>

      

      <div class="mb-6">
        <input
          type="text"
          [(ngModel)]="couponCode"
          placeholder="Enter Coupon"
          class="w-full border p-3 rounded-xl"
        />

        @if (subtotal() >= 1000 && discount() === 0) {
          <span class="text-green-700 p-4 mb-5">
            🎉 You are eligible for SAVE10 coupon. Apply now and save ₹ 100 on your order.
          </span>
        } @else if (discount() > 0) {
          <span class="text-green-700 p-4 mb-5"> 🎉 coupon applied successfully </span>
        } @else {
          <span class="text-red-700 p-4 mb-5">
            🎉 Shop More than ₹ 1000 get then You are eligible for SAVE10 coupon.
          </span>
        }

        <button (click)="applyCoupon()" class="w-full bg-black text-white py-3 rounded-xl mt-3">
          Apply Coupon
        </button>
      </div>

      

      <div class="space-y-4">
        <div class="flex justify-between">
          <span>Subtotal</span>

          <span> ₹ {{ subtotal() }} </span>
        </div>

        <div class="flex justify-between">
          <span>GST (18%)</span>

          <span> ₹ {{ gstAmount() }} </span>
        </div>

        <div class="flex justify-between text-green-600">
          <span>Discount</span>

          <span> - ₹ {{ discount() }} </span>
        </div>

        <hr />

        <div class="flex justify-between text-2xl font-bold">
          <span>Total</span>

          <span> ₹ {{ finalAmount() }} </span>
        </div>
      </div>
    </div>
    <button
      (click)="navigate()"
      class="w-full bg-black text-white py-4 rounded-xl mt-6 text-lg font-semibold hover:bg-gray-800 transition"
    >
      Proceed To Checkout
    </button>
  </div>
</div>
