.myDashboardItems {
  display: flex;
  flex-direction: row;
  background-color: #d6d6ff;
}
.dashboard-box {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: #7a98aa;
}

.dashboard-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.dashboard-item {
  font-size: 16px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
}
.Weather-dashboard-container,
.Device-dashboard-container {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.Weather-dashboard-container {
  background-color: #3375a1;
}
.Device-dashboard-container {
  background-color: #ff69b4;
}

.card {
  background-color: #f9fafb;
  border-radius: 12px;
  padding: 20px 30px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  color: #333;
}

.weather-card {
  background-color: #e3f2fd;
}
